@import '~scss/theming';
@import "~scss/mixins";

.top-bar {
  position: fixed;
}

.mat-list {
  padding: 0 !important;
}

.container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
}

.sidebar-right {
  flex: 0 0 12em;
  transition: all ease 0.5s;
  @include respond-to(xs) {
    display: none;
  }
  @include respond-to(sm) {
    flex: 0 0 2em;
  }
}

.header {
  p {
    text-align: center;
  }
}

