<div class="container">
  <!--<nav class="sidebar-left">
    <app-navigation></app-navigation>
  </nav>-->


  <app-chat class="main-content"></app-chat>

  <aside class="sidebar-right">

    <div class="header">
      <p>Online</p>
    </div>

    <mat-divider></mat-divider>

    <!--<mat-list dense *ngFor="let client of connectedClients">
      <mat-list-item>
        <img matListAvatar src="{{ client?.avatar }}">
        <h3 matLine> {{ client?.username }} </h3>
      </mat-list-item>
    </mat-list>-->

    <!--<mat-divider></mat-divider>

    <div class="header">
      <p>Offline</p>
    </div>

    <mat-divider></mat-divider>

    <mat-list dense>
      <mat-list-item>
        <img matListAvatar src="https://via.placeholder.com/100x100">
        <h3 matLine> Børge Mogensen </h3>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="https://via.placeholder.com/100x100">
        <h3 matLine> Egon Olsen </h3>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="https://via.placeholder.com/100x100">
        <h3 matLine> Benny Fransen </h3>
      </mat-list-item>
    </mat-list>-->
  </aside>

</div>
