@import '~scss/theming';

.container {
  display: flex;
  flex: 1;
}

main.content {
  flex: 1;
}

.sidebar-left, .sidebar-right {
  flex: 0 0 12em;
}

.sidebar-left {
  order: -1;
  height: 100vh;
}

.header {
  p {
    text-align: center;
  }
}
