@import '~scss/theming';
@import "~scss/mixins";

.container {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: scroll;
}

.chat-messages {
  padding: 0;
}

.channel-bar {
  flex-shrink: 1;
  background-color: #333333;
  padding: .94%;
  position: relative;
  span {
    color: #be8e47;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
  }
}

.chat-container {
  -webkit-app-region: no-drag;
  flex-grow: 1;
  align-items: center;
  overflow: scroll;
  .chat-box {
    display: flex;
    flex-direction: column;
    height: max-content;
    .chat-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 13%;
      @include respond-to(xs) {
        width: 20%;
      }
      @include respond-to(sm) {
        width: 25%;
      }
      @include respond-to(md) {
        width: 25%;
      }
      img {
        margin-right: 8px;
      }
      .chat-user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 1rem;
        }
        span {
          font-size: .7rem;
        }
        * {
          margin: 0;
        }
      }
    }
  }
  .chat-notification {
    color: #797979;
    .chat-notification-highlight {
      color: #9a9a9a;
      font-weight: bold;
    }
  }
  .chat-message {
    min-width: 5%;
    max-width: 80%;
    word-break: break-word;
    vertical-align: text-bottom;
    margin-top: 1.5%;
    display: inline-block;
    white-space: pre-line;
    margin-bottom: 1.2em;
  }
}

.chat-message-editor-container {
  flex-shrink: 1;
  -webkit-app-region: no-drag;
}

.chat-message-editor {
  background-color: #292929;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  //margin-top: auto;
  //position: absolute;
  width: 100%;
  //bottom: 0;
  .chat-message-toolbar {
    width: 100%;
    mat-toolbar {
      justify-content: space-between;
      height: 5%;
      .cmt-btns {
        display: flex;
        width: 20%;
        justify-content: space-between;
      }
    }
  }
  .chat-message-input {
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
}

.speech-bubble {
  position: relative;
  background: #4b5988;
  border-radius: .4em;
  padding: 1%;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.719em solid transparent;
  border-right-color: #4b5988;
  border-left: 0;
  margin-top: -0.719em;
  margin-left: -0.719em;
}
