.app-sidebar {
  width: 300px;
  height: 100%;
  user-select: none;
  cursor: default;
}

.app-sidebar-bottom-divider {
  margin-top: 1rem;
}

.app-sidebar-title {
  text-align: center;
}

.app-sidebar-user {
  display: flex;
  align-items: center;
}

.app-sidebar-divider {
  margin-top: 3px;
  margin-bottom: 3px;
}

mat-expansion-panel {
  margin-bottom: 6px;
}

mat-card {
  padding: 12px;
}

.app-sidebar-user-avatar {
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 50%;
}
.app-sidebar-user-name {
  margin-left: 15px;
}
