//noinspection CssUnknownTarget
@import '~scss/mixins';

.app-sidebar {
  width: 300px;
  height: 100%;
  user-select: none;
  cursor: default;
  transition: ease all .5s;
  @include respond-to(xs) {
    width: 80px;
  }
  @include respond-to(sm) {
    width: 200px;
  }
}

.app-sidebar-bottom-divider {
  margin-top: 1rem;
}

.app-sidebar-title {
  text-align: center;
}

.app-sidebar-user {
  display: flex;
  align-items: center;
}

.app-sidebar-divider {
  margin-top: 3px;
  margin-bottom: 3px;
}

mat-expansion-panel {
  margin-bottom: 6px;
}

mat-card {
  padding: 12px;
}

.sub-menu-item {
  @include respond-to(xs) {
    justify-content: left;
  }
  .sub-menu-item-label {
    @include respond-to(xs) {
      display: none;
    }
  }
}

.app-sidebar-user-avatar {
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 50%;
}
.app-sidebar-user-name {
  margin-left: 15px;
}

.mat-expansion-panel-header {
  padding: 0 24px;
  @include respond-to(xs) {
    padding: 0;
  }
}
